body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-460px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1599px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:20px;
  width:1200px;
  height:1599px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:351px;
  background:inherit;
  background-color:rgba(120, 100, 82, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1619px;
  width:1200px;
  height:351px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:1710px;
  width:98px;
  height:12px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:1913px;
  width:250px;
  height:15px;
  color:#FFFFFF;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1874px;
  width:1200px;
  height:1px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background:inherit;
  background-color:rgba(120, 100, 82, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:1913px;
  width:89px;
  height:24px;
  font-size:10px;
  color:#999999;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:1736px;
  width:331px;
  height:115px;
  font-size:12px;
  color:#FFFFFF;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1694px;
  width:270px;
  height:60px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:1792px;
  width:240px;
  height:46px;
  color:#FFFFFF;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:1754px;
  width:234px;
  height:15px;
  color:#FFFFFF;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:1752px;
  width:24px;
  height:19px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:1792px;
  width:20px;
  height:30px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1918px;
  width:234px;
  height:15px;
  color:#FFFFFF;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:1717px;
  width:234px;
  height:15px;
  color:#FFFFFF;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:1709px;
  width:23px;
  height:23px;
  color:#FFFFFF;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:0px;
  width:1200px;
  height:210px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:24px;
  width:42px;
  height:39px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:72px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:62px;
  width:270px;
  height:72px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:43px;
  background:inherit;
  background-color:rgba(120, 100, 82, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:152px;
  width:140px;
  height:43px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(120, 100, 82, 0.8);
}
#u22 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:164px;
  width:63px;
  height:24px;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(120, 100, 82, 0.8);
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(120, 100, 82, 0.8);
}
#u23 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:164px;
  width:61px;
  height:24px;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(120, 100, 82, 0.8);
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(120, 100, 82, 0.8);
}
#u24 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:164px;
  width:118px;
  height:24px;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(120, 100, 82, 0.8);
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(120, 100, 82, 0.8);
}
#u25 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:164px;
  width:112px;
  height:24px;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(120, 100, 82, 0.8);
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:162px;
  width:64px;
  height:24px;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:2px;
  width:1200px;
  height:38px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(120, 100, 82, 0.8);
}
#u28 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:12px;
  width:75px;
  height:19px;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(120, 100, 82, 0.8);
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:1467px;
  top:15px;
  width:21px;
  height:17px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:10px;
  width:27px;
  height:22px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#786452;
  line-height:36px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:748px;
  width:1045px;
  height:160px;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#786452;
  line-height:36px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:1305px;
  top:360px;
  width:81px;
  height:37px;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:1305px;
  top:397px;
  width:299px;
  height:28px;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:563px;
  width:285px;
  height:61px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:416px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:210px;
  width:1200px;
  height:416px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:303px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:323px;
  width:608px;
  height:303px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:14px;
  background:inherit;
  background-color:rgba(109, 137, 23, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:309px;
  width:608px;
  height:14px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:rgba(0, 85, 135, 0.847058823529412);
}
#u38 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:366px;
  width:106px;
  height:49px;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:rgba(0, 85, 135, 0.847058823529412);
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#786452;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:420px;
  width:345px;
  height:40px;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#786452;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:550px;
  width:22px;
  height:22px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 85, 135, 0.749019607843137);
}
#u42 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:551px;
  width:175px;
  height:21px;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 85, 135, 0.749019607843137);
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:509px;
  width:29px;
  height:27px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 85, 135, 0.749019607843137);
}
#u45 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:512px;
  width:175px;
  height:21px;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 85, 135, 0.749019607843137);
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:512px;
  width:23px;
  height:22px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:553px;
  width:28px;
  height:21px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 85, 135, 0.749019607843137);
}
#u48 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:551px;
  width:175px;
  height:21px;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 85, 135, 0.749019607843137);
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 85, 135, 0.749019607843137);
}
#u49 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:512px;
  width:245px;
  height:21px;
  font-family:'ArialUnicodeMS', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 85, 135, 0.749019607843137);
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 85, 135, 0.847058823529412);
}
#u50 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:694px;
  width:795px;
  height:32px;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 85, 135, 0.847058823529412);
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:210px;
  background:inherit;
  background-color:rgba(0, 85, 135, 0.847058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:950px;
  width:1200px;
  height:210px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Georgia-Italic', 'Georgia Italic', 'Georgia';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#FFFFFF;
  line-height:48px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:1002px;
  width:914px;
  height:108px;
  font-family:'Georgia-Italic', 'Georgia Italic', 'Georgia';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#FFFFFF;
  line-height:48px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  word-wrap:break-word;
}
